<div>Private page</div>
User:{{user}}
{{#if user}}
  <div>
    <h1>Personal Message:</h1>
    <h1>Welcome, <span style="color: red;">{{ user.username}}</span>. Here goes your msg! </h1>
    <img src=".\public\images\36d8a920d503772109e9373af2c06dad.jpg" alt="You rock.">
    <a href="/">Index</a>
  </div>
{{/if}}